* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #000;
  background-image: url('/static/media/just.jpg'); /* Use url() to link the image */
  background-size: cover; /* Optional: You might want to cover the entire viewport */
  background-repeat: no-repeat; /* Optional: Prevents the image from repeating */
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #ffc0cb;
  border-radius: 50%;
  pointer-events: none;
  transition: transform 0.15s ease;
  z-index: 9999; /* Ensure it's above other content */
}

.cursor-inner {
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.15s ease;
}

@keyframes fade-down {
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.uploaded-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.uploaded-button:hover {
  background-color: #45a049;
}

.logo {
  position: absolute;
  left: 20px;
  top: 20px;
}

.logo img {
  max-width: 80px;
  height: auto;
}

header {
  background-color: transparent;
  padding: 10px 20px;
  position: absolute;
  right: 0;
  top: 20px;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 140px);
}

.navbar {
  display: flex;
  align-items: center;
  margin: 10px 50px 4px 1px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffc0cb;
  font-weight: bold;
  font-size: 16px;
}

.nav-links li:last-child a {
  background-color: #ffc0cb;
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
}

.nav-links a:hover {
  text-decoration: underline;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.circle-icon {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #d0969f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffc0cb;
  font-size: 40px;
  margin: 0 auto 20px auto;
}

.circle-icon:hover {
  background-color: #ffc0cb;
  color: #000000;
}

.upload-section {
  width: calc(30% - 20px);
  padding: 10px; /* Reduced padding */
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  margin: 99px 10px 40px 135px;
  margin: 20px 10px 20px 135px; /* Adjusted margins */
}

.upload-section h1,
.upload-section button {
  text-align: center;
}

.upload-section form {
  width: 100%;
  padding: 30px 0 0 0;
}

.upload-section form .form-row {
  display: flex;
  margin: 32px 0;
  margin-bottom: 15px;
}

form .form-row .input-data {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  margin-bottom: 20px;
  text-align: left;
  position: relative;
}

form .form-row .textarea {
  height: 70px;
}

.input-data input,
.textarea textarea {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}

/* Animation for input label when focused or valid */
.input-data input:focus ~ label,
.textarea textarea:focus ~ label,
.input-data input:valid ~ label,
.textarea textarea:valid ~ label {
  transform: translateY(-20px);
  font-size: 14px;
  color: #b77e87;
} 



.textarea textarea {
  resize: none;
  padding-top: 10px;
}

.input-data label {
  position: absolute;
  pointer-events: none;
  bottom: 10px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.textarea label {
  width: 100%;
  bottom: 40px;
  background: #fff;
}

.input-data .underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  width: 100%;
}

.input-data .underline:before {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #000000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before {
  transform: scale(1);
}

.Button-data {
  width: 120px;
  height: 40px;
  background-color: #fff;
  border: 2px solid #d0969f;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-size: 16px;
  margin: 0 auto 20px auto;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.Button-data:hover {
  background-color: #ffc0cb;
  color: #000000;
}



/* Text section styles */
.text-section {
  width: calc(50% - 20px);
  color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 16px;
  margin: 150px 70px 60px 10px;
}

.text-section h1 {
  font-size: 60px;
  margin-bottom: 20px;
  font-family: "Lato";
  overflow: hidden;
  border-right: .07em solid #ffc0cb;
  white-space: nowrap;
  letter-spacing: .15em;
  animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #ffc0cb; }
}

.typewriter .word {
  font-size: 30px;
  margin-bottom: 20px;
  font-family: "Lato";
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: .15em;
}

.text-section p {
  margin-bottom: 30px;
}

.text-section tag-line{
  color:#d0969f;
}

.text-section button {
  padding: 10px 20px;
  border: none;
  background-color: #000000;
  color: #ffc0cb;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.Gimmick:hover {
  background-color: #ffc0cb;
  color: #000000;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 5px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  font-size: 10px;
}

.footer-content p {
  margin: 0;
}
