<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Hello World</h1>
    <form method="POST" enctype=multipart/form-data>
        {{ form.csrf_token }}
        <br>
        {{ form.name }}
        <br>
        {{ form.age }}
        <br>
        {{ form.image }}
        <button type="submit">Upload</button>
      </form>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{messages}}</li>
                {% endfor %}
            </ul>
        {% endif %}
      {% endwith %}
</body>
</html>