<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>MRIG</title>
      <link rel="stylesheet" href="Page1.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="logo">
        <img src="logon.png" alt="Your Logo">
    </div>

    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
      <div class="content-wrapper">
         <div class="upload-section">
            <div class="form-container">
               <button type="submit" class="circle-icon">
               <span>+</span>
               </button>
               <h1>Add your Files</h1>
               <form action="#">
                  <div class="form-row">
                     <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Name</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Gender</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="input-data">
                        <input type="text" required>
                        <div class="underline"></div>
                        <label for="">Age</label>
                     </div>
                  </div>
                  <button type="submit" class="Button-data">Submit</button>
               </form>
            </div>
         </div>
         <div class="text-section">
            <h1>MRIG</h1>
            <p>One stop Destination for all your Scans. Analyze. Understand. Refer</p>
            <button class="Gimmick">Let's Go</button>
         </div>
      </div>
      
      <!-- Footer Section -->
      <footer>
         <div class="footer-content">
            <p>&copy; 2023 MRIG</p>
         </div>
      </footer>
   </body>
   <script src="Page1.js"></script>
</html>
