<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>MRIG</title>
      <link rel="stylesheet" href="/static/css/Page1.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap">
      <link href="https://fonts.googleapis.com/css2?family=Agbalumo&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet"> 
      <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Poppins:wght@200&display=swap" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
    <div class="logo">
        <img src="/static/media/logon.png" alt="Your Logo">
    </div>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </nav>
    </header>
    <div class="custom-cursor"></div>
      <div class="content-wrapper">
         <div class="upload-section">
            <div class="form-container">

               <form method="POST" enctype="multipart/form-data">
                  {{ form.csrf_token }}
                  <div class="circle-icon">
                     <span style="position: absolute;">+</span>
                     <div style="opacity: 0;">
                         {{form.image(id="imgField", **{'onchange': 'showImage()'})}}
                     </div>
                 </div>
                 <p id="target"></p>
                  <!-- {{ form.image(class="circle-icon")}}
                  <label for="{{form.image.id}}"><span>+</span></label> -->
                  <h1>Add your Files</h1>

                  <div class="form-row">
                     <div class="input-data">
                        {{ form.name }}
                        <div class="underline"></div>
                        <label for="">Name</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="input-data">
                        {{ form.gender }}
                        <div class="underline"></div>
                        <label for="">Gender</label>
                     </div>
                  </div>
                  <div class="form-row">
                     <div class="input-data">
                        {{ form.email }}
                        <div class="underline"></div>
                        <label for="">Email</label>
                     </div>
                  </div>
                  
                  <div class="form-row">
                     <div class="input-data">
                        {{ form.age }}
                        <div class="underline"></div>
                        <label for="">Age</label>
                     </div>
                  </div>                  
                  
                  <button type="submit" class="Button-data">Submit</button>
                  {% with messages=get_flashed_messages() %}
                     {% if messages %}
                        {% for message in messages %}
                           <div class="form-row">
                              <div class="input-data">
                                 <label for="">{{ message }}</label>
                              </div>
                           </div>
                        {% endfor %}
                     {% endif %}
                  {% endwith %}
               </form>
            </div>
         </div>
         <div class="text-section">
            <h1>MRIG</h1>
            <p><span class="tag-line">Medical Report Intelligence Generation</span><br><br>Unlocking Health Insights Made Easy:<br>Seamlessly Upload Your Scans,<br>Receive Personalized Reports,<br>Engage in Conversations with Our AI-Powered Chatbot <br> Gain Deeper Insights on Your Personalized Health Reports.<br>
               <br>
               <br>
               <span class="typewriter">
                 <span class="word">Analyze.</span>
                 <span class="word">Understand.</span>
                 <span class="word">Refer.</span>
               </span></p>
               
            <button class="Gimmick">Let's Go</button>
         </div>
      </div>
      
      <!-- Footer Section -->
      <footer>
         <div class="footer-content">
            <p>&copy; 2023 MRIG</p>
         </div>
      </footer>
   </body>
   <script src="/static/js/Page1.js"></script>
</html>
